.Second{
    padding-top: 241px;
    /* flex-direction: row;
    display: flex; */
}

.Second-Text{
    font-family: cursive;
    margin-top: 100px;
    /* font-size: 5vw; */
}

@media screen and (min-width: 601px) {
   .Second .Second-Text{
    font-size: 7px;
    margin-top: -211px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   }
  }

  @media screen and (min-width: 601px) {
    .Second-Image img{
        height: auto;
        width: 500px;
    }
   }
   @media screen and (max-width: 600px) {
    .Second-Image img{
        height: 500px;
        width: auto;
    }
}
  @media screen and (max-width: 600px) {
    .Second .Second-Text {
        font-size: 1.5vw;
        margin-top: -143px;
        display: flex;
        margin-left: 25px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    }
}