.nav-bar{
    width: 100%;
    flex-direction: column;
    display: flex;
    margin-left: -20px;
    height: 200px;
    justify-content: center;

}

.nav-bar ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #149bd0;
    font-family: Comfortaa-Regular;
}

.nav-bar ul li{
    flex-grow: 1;
    font-family: comfortaa;
    margin-top: 3rem;
    list-style-type: none;
}

.nav-bar ul li a{
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.nav-bar ul li a span{
    display: block;
}
.hidden-image{
    display: none;
}

@media screen and (max-width: 600px) {
    /* .nav-bar a:not(:first-child) {display: none;} */
   
    .hidden-image{
        display: flex;
    }
    .hidden{
        justify-content: center;
        display: flex;
    }
    .nav-bar{
        width: 0px;
        padding: 0;
        margin: 0;
    }
    .nav-bar ul li a{
       display: none;
   }
  }